body {
    background: linear-gradient(90deg, rgb(54, 151, 98) 0%, rgb(18, 113, 61) 50%, rgb(48, 151, 95) 100%);
    height: 100%;
    padding: 0px;
    margin: 0px;
    font-family: 'Lato', sans-serif;
    display: flex;
    color: #F6F6F6;
}

.main-content {
    display: flex;
    justify-content: center;
    flex: 1;
    align-items: center;
    flex-direction: column;
}

.main-content .error-message {
    color: yellow;
    font-weight: bold;
    font-size: 16px;
    margin-top: 0px;
}

.main-content h1 {
    font-size: 50px;
}

.main-content ul {
    margin: 0px;
}

.main-content ul :not(:first-child) {
    padding-top: 10px;
}

.main-content li {
    font-size: 20px;
}

.main-content a:link {
    color: #F6F6F6;
}
  
.main-content a:visited {
    text-decoration: none;
}

.main-content form {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: -60px;
    padding: 10px;
}

.main-content form .form-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
}

.main-content form label {
    padding-right: 5px;
    font-size: 20pt;
}

.main-content form input {
    border-radius: 5px;
    border: 0px;
    font-size: 20pt;
    padding: 5px;
    color: white;
    background-color: transparent;
    border: 1px solid white;
}


.main-content button {
    border: none;
    background: #F6F6F6;
    mix-blend-mode: screen;
    padding: 6px;
    border-radius: 5px;
    margin-left: 5px;
    cursor: pointer;
}

.main-content .index-button-container button {
    font-size: 25px;
    padding: 10px;
    border: 0;
    font-size: 30pt;
    margin: 10px;
}

.main-content .index-button-container button:hover{
    font-size: 27px;
    padding: 12px;
    border: 0;
    font-size: 30pt;
    margin: 10px;
}

#error{
    background-color: white;
    margin-left: 50px;
    padding: 3px;
    border: 1px solid red;
    
}

#logOut{
    margin-left: 50px;
    margin-top: 10px;
}
